/* reset */

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul{
  list-style: none;
}

/* global */

body {
  margin: 0 auto;
  color: white;
  max-width: 1440px;
}


header{
  display: grid;
  grid-template-columns: 1fr 3fr 350px;
  gap: 10px;
  padding: 20px 60px;
  background-color: gray;
  font-size: 22px;
}

header nav{
  display: flex;
  align-items: center;
}

header nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 50px;
}

header nav ul button{
  background-color: darkslategray;
  border-radius: 15px;
  padding: 15px;
}

header .logo{
  height: 50px;
  background-color: rgb(39, 39, 39);
}

header input{
  border-radius: 15px;
  border: none;
  font-size: 25px;
  outline: none;
  padding-left: 15px;
}

.showcase {
  grid-area: s;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.showcase-1 {
  flex: 1;
  background-color: blueviolet;
}

.showcase-2 {
  flex: 1;
  background-color: brown;

}

.showcase-3 {
  flex: 1;
  background-color: chocolate;
}

.showcase-4 {
  flex: 1;
  background-color: coral;
}

/* 
.showcase-1 {
  grid-area: s1;
  background-color: blueviolet;
}

.showcase-2 {
  grid-area: s2;
  background-color: brown;

}

.showcase-3 {
  grid-area: s3;
  background-color: chocolate;
}

.showcase-4 {
  grid-area: s4;
  background-color: coral;
} */

.call-to-action {
  grid-area: c;
  background-color: black;
}