/* reset */

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Patua One", cursive;
}

ul {
  list-style: none;
}

/* global */

body {
  margin: 0 auto;
  color: white;
  max-width: 1440px;
  font-family: "Patua One", cursive;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr 350px;
  gap: 10px;
  padding: 20px 60px;
  background-color: gray;
  font-size: 22px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 50px;
}

header nav ul button {
  background-color: lightgrey;
  border-radius: 15px;
  padding: 15px;
  border: none;
}

header .logo {
  height: 50px;
  background-color: rgb(39, 39, 39);
}

header input {
  border-radius: 15px;
  border: none;
  font-size: 25px;
  outline: none;
  padding-left: 15px;
}

/* Showcase */

.showcase-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50%);
}

.showcase-item {
  background-color: darkgray;
  padding: 100px 50px;
  border: 1px solid red;
}

.showcase-grid> :nth-child(odd) {
  background-color: rgb(102, 102, 102);
}

.author figure {
  display: flex;
  align-items: center;
}

.author figure img {
  background-color: gray;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 5px;
  left: 0;
  right: 0;
  width: 65.6px;
  height: 65.6px;
  box-shadow: 1px gray;
}

.image-frame {
  width: 75.6px;
  height: 75.6px;
  margin-right: 30px;
  background-color: white;
  border-radius: 5px;
  position: relative;
}

.author-name {
  font-size: large;
}

.title {
  padding: 20px 0;
  font-size: xx-large;
  line-height: 45px;
}

.comments {
  padding-bottom: 20px;
}

.icon-arrow img {
  width: 50px;

}

.icon-arrow {
  display: inline-block;
  padding: 30px 15px 30px 20px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.icon-arrow:hover {
  background-color: gray;
}

.image-frame {
  transform: scale(1) rotateZ(calc(11 * -1deg));
  transition: all 0.3s;
}

.image-frame:hover {
  transform: scale(1) rotateZ(0);
  transition: all 0.3s;
}

/* latest-posts-section*/

.latest-posts-section {
  position: relative;
  display: grid;
  padding: 0 50px;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  row-gap: 30%;
  gap: 10px;
}


#section-title {
  position: absolute;
  transform: rotate(90deg);
  color: black;
  z-index: 100;
  justify-content: space-between;
}




.latest-posts-section article {
  color: black;
  position: relative;
}

.time-written {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.time-written span {
  font-size: large;
}

.latest-posts h3 {
  font-size: x-large;
  margin: 10px 0 20px 0;
  text-decoration: underline;
}

.latest-posts {
  transition: all 0.3s;
  padding: 40px;
}

.latest-posts:hover {
  transform: scale(1.02);
  background-color: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}

.lastest-posts-author {
  color: gray;
  margin-bottom: 10px;
}

.lastest-posts-author a {
  text-decoration: underline;
  color: gray;
  margin-left: 5px;
}

.lastest-post-description {
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  color: #333;
  padding-bottom: 130px;
}

/* ads sub-section */

.latest-posts-section .ads {
  grid-column: 1/2;
  text-align: center;
  border-radius: 6px;
}

.latest-posts-section .ads>p {
  margin-bottom: 20px;
  font-size: 12px;
  color: lightgray;
}

.latest-posts-section .ads article {
  background-color: lightgray;
  padding: 15px 30px;
  border-radius: 11px;
}

.latest-posts-section .ads article * {
  margin-bottom: 20px;
}

.latest-posts-section .ads article img {
  width: 175px;
  height: 40px;
  filter: grayscale();
}

.latest-posts-section .ads article button {
  text-transform: uppercase;
  padding: 10px;
  background-color: darkgray;
  border-radius: 6px;
  border: 0px solid transparent;
  cursor: pointer;
}

/* explore-feature sub-section */

.latest-posts-section .explore-feature {
  grid-column: 2/-1;
  background-color: darkgray;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explore-feature img {
  height: 240px;
}

.explore-feature h2 {
  font-size: xx-large;
  padding: 20px 0;
}

.explore-feature p {
  padding: 20px 0;
  white-space: nowrap;
}

.explore-feature p:last-child {
  display: flex;
}

.explore-feature button {
  margin-bottom: 10px;
  padding: 15px 100px;
  border-radius: 11px;
  border: none;

}

.explore-feature p a {
  text-decoration: underline;
  margin-left: 5px;

}

/* latest articles part */


.latest-articles {
  grid-column: 2/3;
  padding: 100px 0;
  margin: 0 auto;

}

.latest-articles p {
  display: inline-block;
  text-align: center;
  border-bottom: 5px solid grey;
  color: #333;
  padding-bottom: 10px;
}

.latest-articles p:hover {
  cursor: pointer;
}

/* shipping-section */

.shipping-section {
  width: 100%;
  background-color: gray;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  text-align: center;
}

.shipping-section * {
  margin-bottom: 20px;
}

.shipping-section a:first-of-type {
  font-size: 52px;
  color: white;
  text-decoration: underline;
}

.shipping-section p {
  font-size: 23px;
  padding: 15px 235px;
  font-weight: 200px;
}

.shipping-section a:last-of-type {
  border: none;
  font-size: 23px;
  text-decoration: none;
  background-color: #fff;
  color: black;
  padding: 20px 100px;
  border-radius: 11px;
}

.shipping-section img{
  width: 920px;
  filter: grayscale();
}